* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.hero {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(115, 19, 179, 0.5)), url(images/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;



}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;

}

.logo {
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;

}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;

}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover {
    color: #f5aaf5;
    transition: .4s;
}

.btn {
    background-color: #f5aaf5;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;

}

.btn:hover {
    transform: scale(1.2);
}

.content {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}

h1 {
    color: white;
    margin: 20px 0px 20px;
    font-size: 75px;
}

h3 {
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}

h4 {
    color: #f5aaf5;
    letter-spacing: 2px;
    font-size: 20px;
}

.newslatter form {
    width: 380px;
    max-width: 100%;
    position: relative;
}

.newslatter form input:first-child {
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid #f5aaf5;
    outline: none;
    border-radius: 30px;
}

.newslatter form input:last-child {
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #f5aaf5;
    color: white;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #f7b5f3;
    top: 6px;
    right: 6px;
}

.about {
    width: 100%;
    padding: 100px 0px;
    background-image: linear-gradient(rgba(80, 78, 80, 0.75), rgba(0, 0, 0, 0.75));
    background-size: cover;
    height: 100vh;
}

.about img {
    height: auto;
    width: 430px;
}

.about-text {
    width: 550px;
}

.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h2 {
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
    font-weight: bold;
}

.about-text h5 {
    color: #fff;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
    font-weight: 550;
}

.about-text p::selection {
    color: #f5aaf5;
}

span {
    color: #f230f2;
}

.about-text p {
    color: white;
    letter-spacing: 1px;
    font-size: 18px;
    margin-bottom: 45px;
    line-height: 28px;
}

button {
    background-color: #f5aaf5;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}

button:hover {
    background-color: transparent;
    border: 2px solid #f5aaf5;
    cursor: pointer;
}

.service {
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), #191919);
    width: 100%;
    padding: 100px 0px;
}

.title {
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.card {
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: #d322d3;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.card i {
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #fff;
}

h5 {
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}

.pra p {
    color: #f9c0f9;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}

.pra p::selection {
    color: white;
}

.card .button {
    background-color: #f321f3;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;
}

.card .button:hover {
    background-color: transparent;
    border: 2px solid #f321f3;
    transition: .4s;
}

.contact {
    width: 100%;
    height: 290px;
    background: #191919;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.contact p {
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}

.button-two {
    background-color: #a64ca6;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}

.button-two:hover {
    background-color: transparent;
    border: 2px solid #f5aaf5;
    cursor: pointer;
}

footer {
    background-image: linear-gradient(#191919, #000);
    position: relative;
    width: 100%;
    height: 400px;
    background: 4101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p:nth-child(1) {
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}

footer p:nth-child(2) {
    color: white;
    font-size: 20px;
    width: 500px;
    text-align: center;
    line-height: 26px;
}

.social {
    display: flex;
}

.social a {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #a64ca6;
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
    font-size: 30px;
}
.social a:hover{
    border: 2px solid #a64ca6;
    transform: scale(1.2);
    background-color: transparent;
    color: #a64ca6;
    transition: 0.4s;
}
.end{
    position: absolute;
    color: rgb(255, 255, 255);
    bottom: 35px;
    font-size: 17px;
    cursor: pointer;
}
.end:hover{
   
    transform: scale(1.2);
    background-color: transparent;
    color: #faaafa;
    transition: 0.4s;
    
}